version: '3.9'

services:
  api:
    restart: always
    image: node:16-alpine
    working_dir: /home/node/app
    ports:
      - '22929:3000'
    volumes:
      - .:/home/node/app
    networks:
      - wanted-network
    command: sh -c "yarn start:dev"
  db:
    image: mariadb:10.9
    restart: always
    env_file:
      - .db.env
    ports:
      - '22930:3306'
    volumes:
      - db_data:/var/lib/mysql
      - ./db/conf.d:/etc/mysql/conf.d
      - ./db/initdb.d:/docker-entrypoint-initdb.d
    networks:
      - wanted-network

networks:
  wanted-network:
volumes:
  db_data:
